doctype html
html(lang="en")
	head
		title= title
		link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
		
		block stylehead

		block scriptHead
	body
		div(id='app')
			block content

		block script