doctype html
html(lang="en")
	head
		title= title

		meta(charset="utf-8")
		meta(name="viewport" content="width=1000, initial-scale=1")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')

		
		block stylehead

		block scriptHead
	body
		
		nav(class='navbar navbar-inverse navbar-fixed-top' style="border-color: rgb(23,30,38); background-color: rgb(23,30,38);")
			div(class='container')
				div(class='navbar-header')
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					a(class='navbar-brand' href='/') 
						p(style='color: white;') Berargumen
				div(class='collapse navbar-collapse' id='navbar')
					ul(class='nav navbar-nav navbar-right')
						if user == null
							li()
								button(onclick="window.location.href='/login'" class='btn btn-success navbar-btn btn-sm') Masuk
						if user != null
							li()
								button(onclick="window.open('/my-profile')" class='btn btn-success navbar-btn btn-sm') Profil Saya
							li()
								button(onclick="window.location.href='/logout'" class='btn btn-danger navbar-btn btn-sm') Keluar
		div(id='app')
			block content

		block script