extends layouts/main.pug

block stylehead
	link(rel='stylesheet' href='/builds/css/index.css')
	link(rel='stylesheet' href='/styles/smt-bootstrap.css')


block content
	
	div(class='container' style='min-height: 1000px;')
		div(class='jumbotron text-center' style="background-color:rgb(23,30,38); margin-top:100px;")
			dic(class='row')
				div(class='col-md-12')
					h1(style="color: white; font-size: 120px;") Berargumen
					br()
					p(style="color: white; font-size: 25px;") &nbsp;Visualisasi argumen dengan diagram argumen

		div(class='row')
			div(class='col-md-12')
				div(class='row')
					div(class='col-md-12 text-center')
						h2 Kenapa Memakai <strong>Berargumen</strong> ?
					
					div(class='col-md-12')
						div(class='row')
							div(class='col-md-6' style='margin-top: 5%;')
								p(class='penjelasan') Dengan <strong>Berargumen</strong>, anda bisa mengundang teman anda untuk berkolaborasi secara real-time, membuat suatu argumen yang baik, dan anda bisa mengundang lawan anda untuk memberikan argumen argumen yang berlawanan dengan anda, sehingga kita bisa melihat suatu topik dari kedua sisi.
							div(class='col-md-6 text-center' style='margin-top: 5%;')
								<span style="font-size:10em;" class="glyphicon glyphicon-user"></span>
								<span style="font-size:10em;" class="glyphicon glyphicon-comment"></span>
					
					div(class='col-md-12')
						div(class='row')
							div(class='col-md-6' style='margin-top: 5%;')
							
								p(class='penjelasan') Sebuah argumen terdiri dari beberapa bagian seperti <strong>Kesimpulan (Contention)</strong>, <strong>Alasan (Alasan)</strong>, <strong>Keberatan (Objection)</strong>, dan lain sebagainya, dengan <strong>Berargumen</strong> maka bagian bagian bagian ini lebih mudah diketahui, lain halnya dengan kita menyampaikan sebuah argumen hanya menggunakan tulisan, kita perlu untuk memilah-milah tulisan tersebut untuk mengetahui bagian-bagian tersebut.
							
							div(class='col-md-6 text-center' style='margin-top: 5%;')
								<span style="font-size:10em;" class="glyphicon glyphicon-eye-open"></span>
								<span style="font-size:10em;" class="glyphicon glyphicon-ok-circle"></span>

					div(class='col-md-12')
						div(class='row')
							div(class='col-md-6' style='margin-top: 5%;')
								
								p(class='penjelasan') Dengan <strong>Berargumen</strong>, maka seseorang bisa dengan jelas memberikan argumen untuk mendukung suatu bagian argumen mana, atau membantah bagian argumen mana,  dengan hal ini maka kita bisa bisa menghindari kesalahfahaman atau mengulang-ulang suatu argumen, seperti di forum-forum internet yang argumen hanya disajikan dengan kotak komentar yang bertumpuk-tumpuk.
							
							div(class='col-md-6 text-center' style='margin-top: 5%;')
								<span style="font-size:10em;" class="glyphicon glyphicon-fire"></span>
								<span style="font-size:10em;" class="glyphicon glyphicon-ban-circle"></span>

			div(class='col-md-12' style="margin-top: 10%;")
				div(class='panel panel-default')
					div(class='panel-heading')
						p(style='font-size: 23px;') <strong>Board</strong>
					div(class='panel-body' style='min-height: 550px;')
						div(id="exTab2")
							ul(class="nav nav-tabs")
								li(class="active")
									a(href="#1" data-toggle="tab") Semua
								
								li()
									a(href="#2" data-toggle="tab") Board Saya
								
								li()
									a(href="#3" data-toggle="tab") Ditandai

								li()
									a(href="#4" data-toggle="tab") Board Kolaborasi
							
							div(class="tab-content")
								div(class="tab-pane active" id="1")
									div(class='row')
										div(class='col-md-12')
											div(class='row')
												div(class='col-md-6')
												div(class='col-md-6')
													br()
													input(class='form-control input-sm' v-bind:class="{ loadinggif : loadings.allBoardsSearch }" @keyup="searchAllBoards($event)" placeholder='Cari berdasar judul, deskripsi, tag')

										div(class='col-md-12')
											br()
											table(class='table table-default table-striped table-bordered')
												thead()
													tr()
														th(class='text-center' width='15%') Judul
														th(class='text-center' width='35%') Deskripsi
														th(class='text-center' width='10%') Pemilik
														th(class='text-center' width='20%') Tags
														th(class='text-center' width='10%') Diperbaharui
														th(class='text-center' width='10%') 
												tbody(v-if="boards.all.length && !loadings.getAllBoards" v-cloak)
													tr(v-for="board in boards.all")
														td() {{ board.getTitle() }}
														td() {{ board.getDescription() }}
														td()
															a(@click="viewUserProfile(board.getUser().getId())") {{ board.getUser().getName() }}
														td()
															button(class='btn btn-default btn-xs btn-in-table' v-for="tag in board.getTags()" @click="viewBoardByTag(tag)") {{ tag }}
														td(class='text-center') {{ board.getUpdatedDate() }}
														td(class='text-center')
															button(@click="viewBoard(board.getId())" class='btn btn-warning btn-xs btn-in-table') Lihat
												tbody(v-if="!boards.all.length && !loadings.getAllBoards" v-cloak)
													tr()
														td(class='text-center' colspan="6") Tidak Ada Board
												tbody(v-if="loadings.getAllBoards")
													tr()
														td(class='text-center' colspan="6")
															span(class="glyphicon glyphicon-refresh glyphicon-spin")
														

											div(class='row')
												div(class='col-md-6' v-cloak)
													ul(class='pagination')
														li(v-for='page in numberOfPages.allBoards' v-if="!displayPaginationButton(currentPage.allBoards, page)" v-bind:class="{ 'active' : currentPage.allBoards == page }")
															a(@click="allBoardsGoToPage(page)") {{ page }}

								div(class="tab-pane" id="2")
									div(class='row')
										div(class='col-md-12')
											div(class='row')
												div(class='col-md-6')
													br()
													button(@click="openModalToCreateBoard()" class='btn btn-success btn-sm' v-if="currentUser != null") Buat Board
													button(class='btn btn-success btn-sm' v-if="currentUser == null" disabled) Buat Board
												div(class='col-md-6')
													br()
													input(class='form-control input-sm'  v-bind:class="{ loadinggif : loadings.currentUserBoardsSearch }" @keyup="searchCurrentUserBoards($event)" v-bind:disabled="currentUser == null" placeholder='Cari berdasar judul, deskripsi, tag')

										div(class='col-md-12' v-if="currentUser != null")
											br()
											table(class='table table-default table-striped table-bordered')
												thead()
													tr()
														th(class='text-center' width="20%") Judul
														th(class='text-center' width="45%") Deskripsi
														th(class='text-center' width="15%") Tags
														th(class='text-center' width="10%") Diperbaharui
														th(class='text-center' width="10%") 
												tbody(v-if="boards.currentUser.length && !loadings.getCurrentUserBoards" v-cloak)
													tr(v-for="(board, index) in boards.currentUser")
														td() {{ board.getTitle() }}
														td() {{ board.getDescription() }}
														td()
															button(class='btn btn-default btn-xs btn-in-table' v-for="tag in board.getTags()" @click="viewBoardByTag(tag)") {{ tag }}
														td(class='text-center') {{ board.getUpdatedDate() }}
														td(class='text-center')
															button(@click="viewBoard(board.getId())" class='btn btn-warning btn-xs btn-in-table') Lihat
															button(@click="openModalToEditBoard(index)" class='btn btn-success btn-xs btn-in-table') Ubah
												tbody(v-if="!boards.currentUser.length && !loadings.getCurrentUserBoards" v-cloak)
													tr()
														td(class='text-center' colspan="6") Tidak Ada Board Yang And Buat
												tbody(v-if="loadings.getCurrentUserBoards")
													tr()
														td(class='text-center' colspan="6")
															span(class="glyphicon glyphicon-refresh glyphicon-spin")
											div(class='row')
												div(class='col-md-6' v-cloak)
													ul(class='pagination')
														li(v-for='page in numberOfPages.currentUserBoards' v-if="!displayPaginationButton(currentPage.currentUserBoards, page)" v-bind:class="{ 'active' : currentPage.currentUserBoards == page }")
															a(@click="currentUserBoardsGoToPage(page)") {{ page }}


										div(class='col-md-12 text-center' v-if="currentUser == null")
											br()
											h5() Anda harus login untuk melihat board anda
								
								div(class="tab-pane" id="3")
									div(class='row')
										div(class='col-md-12')
											div(class='row')
												div(class='col-md-6')
												div(class='col-md-6')
													br()
													input(class='form-control input-sm'  v-bind:class="{ loadinggif : loadings.bookmarkedBoardsSearch }" @keyup="searchBookmarkedBoards($event)" v-bind:disabled="currentUser == null" placeholder='Cari berdasar judul, deskripsi, tag')

										div(class='col-md-12' v-if="currentUser != null")
											br()
											table(class='table table-default table-striped table-bordered')
												thead()
													tr()
														th(class='text-center' width="15%") Judul
														th(class='text-center' width="35%") Deskripsi
														th(class='text-center' width="10%") Pemilik
														th(class='text-center' width="20%") Tags
														th(class='text-center' width="10%") Diperbaharui
														th(class='text-center' width="10%") 
												tbody(v-if="boards.bookmarked.length && !loadings.getBookmarkedBoards" v-cloak)
													tr(v-for="board in boards.bookmarked")
														td() {{ board.getTitle() }}
														td() {{ board.getDescription() }}
														td()
															a(@click="viewUserProfile(board.getUser().getId())") {{ board.getUser().getName() }}
														td() 
															button(class='btn btn-default btn-xs btn btn-in-table' v-for="tag in board.getTags()" @click="viewBoardByTag(tag)") {{ tag }}
														td(class='text-center') {{ board.getUpdatedDate() }}
														td(class='text-center')
															button(@click="viewBoard(board.getId())" class='btn btn-warning btn-xs') Lihat
												tbody(v-if="!boards.bookmarked.length && !loadings.getBookmarkedBoards" v-cloak)
													tr()
														td(class='text-center' colspan="6") Tidak Ada Board Yang Anda Tandai
												tbody(v-if="loadings.getBookmarkedBoards")
													tr()
														td(class='text-center' colspan="6")
															span(class="glyphicon glyphicon-refresh glyphicon-spin")

											div(class='row')
												div(class='col-md-6' v-cloak)
													ul(class='pagination')
														li(v-for='page in numberOfPages.bookmarkedBoards' v-if="!displayPaginationButton(currentPage.bookmarkedBoards, page)" v-bind:class="{ 'active' : currentPage.bookmarkedBoards == page }")
															a(@click="currentUserBoardsGoToPage(page)") {{ page }}


										div(class='col-md-12 text-center' v-if="currentUser == null")
											br()
											h5() Anda harus login untuk melihat board yang anda tandai

								div(class="tab-pane" id="4")
									div(class='row')
										div(class='col-md-12')
											div(class='row')
												div(class='col-md-6')
												div(class='col-md-6')
													br()
													input(class='form-control input-sm'  v-bind:class="{ loadinggif : loadings.collaboratedBoardsSearch }" @keyup="searchCollaboratedBoards($event)" v-bind:disabled="currentUser == null" placeholder='Cari berdasar judul, deskripsi, tag')

										div(class='col-md-12' v-if="currentUser != null")
											br()
											table(class='table table-default table-striped table-bordered')
												thead()
													tr()
														th(class='text-center') Judul
														th(class='text-center') Deskripsi
														th(class='text-center') Pemilik
														th(class='text-center') Tags
														th(class='text-center') Diperbaharui
														th()
												tbody(v-if="boards.collaborated.length && !loadings.getCollaboratedBoards" v-cloak)
													tr(v-for="board in boards.collaborated")
														td() {{ board.getTitle() }}
														td() {{ board.getDescription() }}
														td()
															a(@click="viewUserProfile(board.getUser().getId())") {{ board.getUser().getName() }}
														td() 
															button(class='btn btn-default btn-xs btn btn-in-table' v-for="tag in board.getTags()" @click="viewBoardByTag(tag)") {{ tag }}
														td(class='text-center') {{ board.getUpdatedDate() }}
														td(class='text-center')
															button(@click="viewBoard(board.getId())" class='btn btn-warning btn-xs') Lihat
												tbody(v-if="!boards.collaborated.length && !loadings.getCollaboratedBoards" v-cloak)
													tr()
														td(class='text-center' colspan="6") Tidak Ada Board Yang Anda Berkolaborasi
												tbody(v-if="loadings.getCollaboratedBoards")
													tr()
														td(class='text-center' colspan="6")
															span(class="glyphicon glyphicon-refresh glyphicon-spin")

											div(class='row')
												div(class='col-md-6' v-cloak)
													ul(class='pagination')
														li(v-for='page in numberOfPages.collaboratedBoards' v-if="!displayPaginationButton(currentPage.collaboratedBoards, page)" v-bind:class="{ 'active' : currentPage.collaboratedBoards == page }")
															a(@click="currentUserBoardsGoToPage(page)") {{ page }}


										div(class='col-md-12 text-center' v-if="currentUser == null")
											br()
											h5() Anda harus login untuk melihat board yang anda berkolaborasi
			
			div(class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="create-board-modal")
				div(class="modal-dialog modal-lg" role="document")
					div(class="modal-content")
						div(class="modal-header")
							div(class='row')
								div(class='col-md-12')
									h4(v-if="forms.createBoard.status == 'create-board'") Buat Board
									h4(v-if="forms.createBoard.status == 'edit-board'") Ubah Board
						div(class="modal-body")
							div(class="row")
								div(class="col-md-12")
									div(class="form-group has-feedback" v-bind:class="{ 'has-error' : formsError.createBoard.title.error }")
										label(class="control-label") Judul
										input(@keyup="resetFormErrorState('title')" v-model="forms.createBoard.title" class="form-control" v-bind:disabled="loadings.submitBoards")
										p(class="help-inline" style="margin-top: 5px;" v-if="formsError.createBoard.title.error") {{ formsError.createBoard.title.message }}

									div(class="form-group has-feedback" v-bind:class="{ 'has-error' : formsError.createBoard.description.error }")
										label(class="control-label") Deskripsi
										textarea(@keyup="resetFormErrorState('description')" v-model="forms.createBoard.description" class="form-control" v-bind:disabled="loadings.submitBoards")
										p(class="help-inline" style="margin-top: 5px;" v-if="formsError.createBoard.description.error") {{ formsError.createBoard.description.message }}

									div(class="form-group has-feedback" v-bind:class="{ 'has-error' : formsError.createBoard.tags.error }")
										label(class="control-label") Tags
										br()
										p(style="font-size:13px;") Untuk menambah tags, isikan kata lalu tekan 
											strong() Enter
										input(@keyup="resetFormErrorState('tags')" type="text" id="tagsinput" class="form-control" v-bind:disabled="loadings.submitBoards")
										p(class="help-inline" style="margin-top: 5px;" v-if="formsError.createBoard.tags.error") {{ formsError.createBoard.tags.message }}
										
									div(class="form-group" style="padding-top:5%;")
										button(v-if="forms.createBoard.status == 'create-board' && !loadings.submitBoards" class='btn btn-success btn-sm submit-button' @click='createBoard()') Buat
										button(v-if="forms.createBoard.status == 'create-board' && loadings.submitBoards" class='btn btn-success btn-sm submit-button' disabled)
											span(class="glyphicon glyphicon-refresh glyphicon-spin")

										button(v-if="forms.createBoard.status == 'edit-board' && !loadings.submitBoards" class='btn btn-success btn-sm submit-button' @click='editBoard()') Ubah
										button(v-if="forms.createBoard.status == 'edit-board' && loadings.submitBoards" class='btn btn-success btn-sm submit-button' disabled)
											span(class="glyphicon glyphicon-refresh glyphicon-spin")

										button(class='btn btn-warning btn-sm' @click='hideCreateBoardModal()' v-if="!loadings.submitBoards") Tutup
										button(class='btn btn-warning btn-sm' disabled v-if="loadings.submitBoards") Tutup
											
	footer(style="margin-top: 10%;")
		div(class="container")
			div(class="row")
				div(class="col-sm-4")
					div(class="footer-block")
						ul(class="list-inline footer-menu")
							
						
				div(class="col-sm-4")
					div(class="footer-block text-center")
						p(class="copyright") © 2017 Berargumen.
				div(class="col-sm-4")
					div(class="footer-block")
					
block script
	script(src='builds/js/index.js')
