extends layouts/main.pug

block stylehead
	
	link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
	link(rel='stylesheet' href='/styles/smt-bootstrap.css')
	style(type='text/css').
		.navbar-lower {
			top: 50px;
		    z-index: 1029;
		    background-color : rgb(253,224,193);
		}

block content
	
	div(class='container')
		div(class='row')
			div(class='col-md-12' style="margin-top: 200px;")
				div(class='row')
					div(class='col-md-6')
						h3() Board Saya
					div(class='col-md-6')
						button(class='btn btn-primary navbar-btn btn-sm' @click="openCreateBoardModal()") Buat Board

				table(class='table table-default table-bordered table-striped')
					thead()
						tr()
							th() Judul
							th() Deskripsi
							th(class='text-center') Aksi
					tbody()
						tr(v-for="board in boards")
							td(width='47%') {{ board.getTitle() }}
							td(width='47%') {{ board.getDescription() }}
							td(class="text-center")
								button(class='btn btn-info btn-xs' @click="viewBoard(board.getId())") Lihat

	div(class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="createBoardModal")
		div(class="modal-dialog modal-lg" role="document")
			div(class="modal-content")
				div(class="modal-header")
					div(class='row')
						div(class='col-md-12')
							h4() Buat Board
				div(class="modal-body")
					div(class="row")
						div(class="col-md-12")
							div(class="form-group")
								label() Judul
								input(v-model="forms.createBoard.title" class="form-control")
							div(class="form-group")
								label() Deskripsi
								textarea(v-model="forms.createBoard.description" class="form-control")
							div(class="form-group")
								button(class='btn btn-primary btn-sm' @click='createBoard()') Buat
								button(class='btn btn-warning btn-sm' @click='hideCreateBoardModal()') Tutup


block script
	script(type='text/javascript' src='/builds/js/myboard.js')