.btn-in-table {
	margin-right: 1px;
	margin-left: 1px;
}

.pagination > li.active > a {
	background-color: #22be34 !important;
	border-color: #22be34 !important;
}

* {
	font-family: "Times New Roman", Georgia, Serif;
}

.panel > .panel-heading {
	background-color: rgb(23,30,38);
	color : white;
}

.fa-spin-custom, .glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

[v-cloak] {
    display: none;
}

div.toast > * {
    font-size: 16px;
    font-weight: 500;
}

.btn {
    border: solid 1px black !important;
}