.pagination > li.active > a {
	background-color: #22be34 !important;
	border-color: #22be34 !important;
}

.btn-in-table {
	margin-right: 1px;
	margin-left: 1px;
}

* {
	font-family: "Times New Roman", Georgia, Serif;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

[v-cloak] {
    display: none;
}

div.toast > * {
    font-size: 16px;
    font-weight: 500;
}
